.placeholder{
    text-align: center;
}


body {
    font-family: 'Roboto' sans-serif;
    margin: 0px;
    padding: 0px;
}

.banner {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: #5DACBD;
    
}
.banner h1 {
    font-family: 'Josefin Sans', sans-serif;;
    color: white;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 0px;
    font-size: 4em;
    letter-spacing: 2px;
}
.banner p {
    position: relative;
    color: white;
    text-align: center;
    bottom: 20px;
}

.icons {
    position: relative;
    bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icons svg {
    width: auto;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.MainContent {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.Pages ul{
    list-style-type: none;
    
}

